/*styles.css*/
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body > * {
  background: #AEC7EB;
}

.actionButton{
  width: 100%;
  height: 90%;
  border-radius: 50%;
  background-color: #AEC7EB;
  border-color: #AEC7EB;
  margin-bottom: auto;
}
.actionButton:hover{
  background-color: #a7c2e2;
  border-color: #AEC7EB;
}
.actionButton:focus{
  background-color: #92a9c5;
  border-color: #AEC7EB;
}
.actionButton:active{
  background-color: #a1bbda;
  border-color: #AEC7EB;
}

