/*styles.css*/

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

body > * {
  background: #F0F0F0;
}

.actionButton{
  width: 100%;
  border-radius: 50%;
  background-color: #F0F0F0;
  border-color: #F0F0F0;
  margin-bottom: auto;

  color: black;
}
.actionButton:hover{
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}
.actionButton:focus{
  background-color: #F0F0F0;
  border-color: #F0F0F0;
}
/* .actionButton:active{
  background-color: #F0F0F0;
  border-color: #F0F0F0;
} */

